<div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-top">
  <ul uk-tab="connect: #component-tab-left; animation: uk-animation-slide-right-medium">
    <li class="uk-active"><a href="#">Info</a></li>
    <li><a href="#">Feedback</a></li>
    <li><a href="#">Q&A</a></li>
    <li><a href="#">Health Blog</a></li>
  </ul>
    <ul id="component-tab-left" class="uk-switcher">
      <li>
        <div class="uk-column-1-2 uk-column-divider">
          <a class="uk-button uk-button-text" href="#">5 Comments</a>
        </div>
      </li>
      <li>
        <div class="uk-column-1-2 uk-column-divider">
          <app-doctor-feedback></app-doctor-feedback>
        </div>
      </li>
      <li>
        <div class="uk-column-1-2 uk-column-divider">
          Velo
        </div>
      </li>
      <li>
        <div class="uk-column-1-2 uk-column-divider">
          Jelo
        </div>
      </li>
    </ul>
</div>